.home-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 100vh;
    gap: 10px;
}

.top-container{
    height: 50px;
    display: flex;
    gap: 10px;
}

.username-container{
    background-color: white;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px ;
    gap: 10px;
    flex: 1;
    border: 1px solid white;
}

.username-container h2{
    color: #5b788b;
    text-align: center;
}

.top-right-container{
    flex: 4;
    display: flex;
    gap: 10px;
}

.username-display{
    background-color: white;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px ;
    flex: 2;
    border: 1px solid white;
}

.buttons-container{
    background-color: white;
    border-radius: 5px;
    height: 50px;
    width: max-content;
    padding: 0px 10px ;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.main-container{
    display: flex;
    gap: 10px;
}

.rooms-container{
    background-color: white;
    flex: 1;
    padding: 20px 10px ;
    border-radius: 10px;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin; /* Width of the scrollbar */
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #6e6f74; /* Color of the thumb */
    border-radius: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: #ffffff; /* Color of the track */
    border-radius: 10px;
}

.inbox-container{
    flex: 4;
    border-radius: 5px;
    height: 550px;
    display: block;
    border: 1px solid white;
    background-image: url("../assets/logo4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.inbox{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    height: 549px;
}

.messages-container{
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.room{
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room:hover{
    background-color: #6086a258;
    cursor: pointer;
}

div.room.unread{
    border: 1px solid #0cb49e;
}

span.unread{
    background-color: #0cb49e;
    color: #0cb49e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value to change the opacity */
    z-index: 3; /* Ensure the overlay is above other elements */
    display: none;
  }

/* pop up */
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid #5b788b;
    padding: 30px;
    border-radius: 20px;
    z-index: 4;
}

.pop-up-body input {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 100%;
}

.pop-up-footer{
    display: flex;
    gap: 10px;
}

.sendbox{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.sendbox button{
    margin: 0px;
    flex: 1;
}

.sendbox button:hover{
    background-color: #068272ce;
    color: white;
}

.sendbox input {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px;
    padding: 10px 20px;
    width: 100%;
    flex: 6;
}

.messages{
    border-radius: 20px;
    margin: 1px;
    background-color:#346382;
    padding: 10px 20px;
    color: white;
}

.message-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sending-message-conatiner{
    display: flex;
    align-items: center;
}
.sending-message-conatiner .messages{
    background-color: #1c8173;
}

.buttons-container button{
    width: 150px;
    padding: 8px;

}



@media screen and (max-width: 950px) {
    .top-container h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .inbox-container{
        display: block;
        /* background-image: url("../assets/logo5.png"); */
        /* background-position: 50% 30%; */
    }
    .home-container{
        padding: 20px 10px 0px 10px;
    }
    .rooms-container{
        display: none;
    }
    .buttons-container{
        display: none;
    }
    .username-container{
        display: none;
    }
    .menu-button{
        display: flex;
    }
}
