.signuppage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap:20px;
}

.hero_content h1 , .hero_content p {
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

form {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 56px;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin: 5px;
}

input.form_input {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    width: 100%;
}

input.form_input:focus {
    border: 2px solid #5a788a;
    outline: none;
}

input.form_input:invalid {
    background-color: #e4eeff;
}

.field-validation-error {
    background-color: #f7e1e3;
    border: 1px solid #f7bfc4;
    border-radius: 0.25em;
    color: #eb5757;
    display: none;
    margin: 5px ;
    padding: 3px;
    width: 100%;
    text-align: center;
}


.info {
    color: rgb(150, 150, 150);
    font-size: 14px;
    margin: 0px 0px 5px 5px;
}

.submit-btn-continer {
    min-width: 100%;
    padding: 10px 0px;
}

button {
    background-color: #fff;
    border: 2px solid #5a788a;
    border-radius: 44px;
    color: #5a788a;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    transition: all .5s;
    width: 100%;
}

/* media Query */

@media screen and (max-width: 400px) {
    .signuppage{
        padding: 8%;
    }
}